/* css design  */
/* style for body */
body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
}

.outer{
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 
}



/* style for single task div container */

.singleTask{
    border: 1px solid rgb(0, 0, 0);
    width:580px;
    height: 90px;
    color: rgb(0, 0, 0);
    display: flex;  
    align-items: center;
    /* justify-content: space-evenly; */
    position: relative;
 
}
/* style for del check */
.delechack{
    margin: 15px;

}


/* style for TODO heading */

.todoheading{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* style for form */

.form_class{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

}
/* style for description area */

.desc_Class input{
    height: 50px;
    width: 400px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s; 
    outline: none;
}
/* implemented some hover in description section */
.desc_Class input:hover{
    /* transform: scale(1.1); */
    background-color: rgb(216, 215, 215);
   
}

/* design for select and option START */
/* style for select and options input input area */

.select_and_input{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.select_and_input select{
    height: 45px;
    width: 40%;
    transition: transform 0.3s;
    text-align: center;
    margin-right: 50px;
}
.select_and_input input{
    height: 45px;
    width: 40%;
    text-align: center;
    transition: transform 0.3s;
}
.select_and_input select:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: rgb(216, 215, 215);
}
.select_and_input input:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: rgb(211, 210, 208);
}
/* design for select and option END */

/* design for dates value */
.datesValues{
    transition: transform 0.3s;
}
.datesValues:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: rgb(216, 215, 215);
}
/* design for button */
.buttonDesign{
    height: 50px;
    width: 120px;
    color: white;
    transition: transform 0.3s;
}
.buttonDesign:hover{
    box-shadow: 0px 0px 5px 2px white ; 
    transform:scale(1.1);
}
.colorRed{
    background-color: red;
    
}

.colorGrey{
    background-color: rgb(0, 0, 0);
}
.commonClass{
    height: auto;
    width: auto;
    text-align: center;
    padding: 5px;  
    border:none;
    color: white;
}
.commonClass:hover{
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 

}
/* design for edit sction */
.editClass{
        position: absolute;
        left: 80%;
        margin: 20px;
}
.editClass:hover{
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 
}

.editClass a{
text-decoration: none;
color: white;
border: 1px solid  white;
padding: 4px;
background-color: rgb(0, 26, 255);
}
/* for placing placeholder in the center  */
input[type="textarea"]::placeholder { 
                  
    /* Firefox, Chrome, Opera */
    text-align: center;
}
/* design for EDIT button*/
.edit-button{
    margin-top: 10px;
    height: 30px;
    width: 90px;
    background-color: rgb(57, 3, 255);
    color: white;
}

input.delechack{
    width: 17px;
    height: 17px;
}

/* Design for different category */
.work{
    background-color:rgb(255, 221, 0);
        
}
.Personal{
    background-color: rgb(105, 105, 105);

}
.Claeaning{
    background-color: green;
}
.Otheres{
    background-color: rgb(119, 0, 255);
}
.name_and_dueDate{
    height: auto;
    width: 200px;
}
.dueDate{
    width: fit-content;
}
.color-white{
    color: rgb(0, 0, 0);
}